body {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  font-size: 20px;
  min-height: 100vh;
}

input, button {
  font-size: 16px;
  border-radius: 25px;   
  border: 1px solid #ccc;
  padding: 10px;
  margin: 8px;
  width: 250px;
  height: 60px;          
  padding: 0 15px;
}

button {
  background: #d32f2f;
  color: white;
  border: none;
  cursor: pointer;
}

.news {
  background: yellow;
  padding: 10px;
  margin: 20px;
}





header {
  background-color: #0a3d62;
  color: white;
  padding: 15px;
  text-align: center;
}

#map {
  height: 90vh;
  width: 100%;
}
